@model AFTRVolunteersWeb.Models.Person

@{
    ViewBag.Title = "Create Person";
}

<h2>Create Person</h2>

@using (Html.BeginFormWithClassName("form-horizontal")) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Person</legend>
        

        <div class="control-group">
            <div class="control-label">
                First Name
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div >
        <div class="control-group">
            <div class="control-label">
                Last Name
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div >
        <div class="control-group">
            <div class="control-label">Email Address</div>
            <div class="controls">
                @Html.EditorFor(model => model.EmailAddress)
                @Html.ValidationMessageFor(model => model.EmailAddress)
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
