@model IEnumerable<AFTRVolunteersWeb.Models.TimeSlot>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StopTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StallId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StopTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StallId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TimeSlotId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TimeSlotId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TimeSlotId })
        </td>
    </tr>
}

</table>
