@model AFTRVolunteersWeb.Models.Stall

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Stall</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PersonId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PersonId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.StallId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
