@model IEnumerable<AFTRVolunteersWeb.Models.Stall>

@{
    ViewBag.Title = "Stalls";
}

<h2>Stalls</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container">
<table class="table table-striped">
    <tr>
        <th>Stall Name</th>
        <th>Owner</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @if (item.PersonId.HasValue)
            {
                @item.Person.FullName()
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StallId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StallId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StallId })
        </td>
    </tr>
}

</table></div>
